{% extends "base.html" %}
{% block content %}
{% if todo_list %}
<p>number of things to do : <span class="fw-bold">({{ todo_list|count }})</span> </p>
<ul>
    {% for todo in todo_list %}
    <li>{{ todo.name }}</li>
    <div class="container">
        <div  class="row align-items-start">
            <div class="col">
                <button type="button" class="btn btn-warning"><a href="{{ url_for('edit', id=todo.id) }}">Edit</a></button>
            </div>
            <div class="col">
                <form action="" method="post">
                <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}